
#Home{
    background: url(../images/bg_header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

#logotop {
    height: 70px;
    
}

#about{
    background: url(../images/bg_nuage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;

}

